In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
# from matplotlib.pyplot import pyplot as plt

In [6]:
df  = pd.read_csv('data/my_customers.csv')
df

            ID  우수고객분류   이름  나이      성별  지역      관심사
0          cdg       1  최도근  10    male  서울       축구
1       leekun       0  이헌영  42    male  서울       축구
2         son7       0  손흥민  38  female  경기  esports
3  parklangers       1  박지성  12    male  서울       축구
4   bluedragon       0  이청용  22  female  경기  esports
5         tuna       1  지동원  11    male  서울       야구
6          key       1  기성용  19  female  경기       축구
7        koojc       0  구자철  28    male  제주  esports

In [7]:
df.loc[df['성별']=='male', '성별'] =0
df.loc[df['성별']=='female', '성별'] =1

df.loc[df['관심사']=='축구', '관심사'] =0
df.loc[df['관심사']=='esports', '관심사'] =1
df.loc[df['관심사']=='야구', '관심사'] =2

df.loc[df['지역']=='서울', '지역'] =0
df.loc[df['지역']=='경기', '지역'] =1
df.loc[df['지역']=='제주', '지역'] =2
#Feature Engineering
df

            ID  우수고객분류   이름  나이 성별 지역 관심사
0          cdg       1  최도근  10  0  0   0
1       leekun       0  이헌영  42  0  0   0
2         son7       0  손흥민  38  1  1   1
3  parklangers       1  박지성  12  0  0   0
4   bluedragon       0  이청용  22  1  1   1
5         tuna       1  지동원  11  0  0   2
6          key       1  기성용  19  1  1   0
7        koojc       0  구자철  28  0  2   1

In [8]:
x_train = df[['나이', '성별','지역','관심사']]
y_train = df['우수고객분류']

from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(n_estimators = 10)
forest.fit(x_train, y_train)
#학습

print('training set accuracy: ', forest.score(x_train, y_train))

training set accuracy:  1.0

In [17]:
df_test  = pd.read_csv('data/new_customers.csv')

df_test.loc[df_test['성별']=='male', '성별'] =0
df_test.loc[df_test['성별']=='female', '성별'] =1

df_test.loc[df_test['관심사']=='축구', '관심사'] =0
# df_test.loc[df_test['관심사']=='esports', '관심사'] =1
df_test.loc[df_test['관심사']=='야구', '관심사'] =2

df_test.loc[df_test['지역']=='서울', '지역'] =0
df_test.loc[df_test['지역']=='경기', '지역'] =1
# df_test.loc[df_test['지역']=='제주', '지역'] =2
#Feature Engineering
df_test

        ID   이름  나이 성별 지역 관심사
0  tseter1  이강인  10  0  0   0
1  tester2  이승우  25  1  1   2

In [18]:
x_test = df_test[['나이','성별','지역','관심사']]
prediction = forest.predict(x_test)
prediction

array([1, 0], dtype=int64)

In [19]:
target_index =0
name = df_test.loc[target_index, '이름']

if prediction[target_index]==1:
    predict = '우수고객입니다'
else:
    predict = '일반고객입니다'
    
print(name + ' 회원님은 '+predict)

이강인 회원님은 우수고객입니다